@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --orange: #ff6d00;
  --light: #9d4edd;
  --darker: hsl(269, 98%, 30%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/* ============================ */
/* NAV */
/* ============================ */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.402);
  margin-bottom: 50px;
  position: relative;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  width: 60%;
  list-style: none;
}

nav ul li {
  display: flex;
  align-content: center;
  padding: 5px;
}
ul a {
  text-decoration: none;
  color: var(--light);
  /* color: hsl(269, 98%, 30%); */
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-family);
  position: relative;
}
.logo {
  width: 150px;
  filter: drop-shadow(0 0 1px var(--orange));
}

nav ul li:nth-of-type(1)::before {
  content: "\f015";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  padding-right: 8px;
  color: var(--light);
  /* color: hsl(269, 98%, 30%); */
  font-size: 18px;
}

ul li .animated::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: var(--orange);
  transition: 0.3s ease-in-out;

  transform: scale(0);
}

ul li:hover .animated::before {
  transform: scale(1);
}
li:hover .animated {
  color: var(--orange);
}

.dropDown,
.dropDownAbout {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: max-content;
  background-color: #333;
  position: absolute;
  top: 25px;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease;
}

.dropDownAbout a {
  color: white;
}

.dropDownAbout a:hover {
  color: var(--orange);
}

.dropDown a {
  color: white;
}

.dropDown a:hover {
  color: var(--orange);
}

nav ul li:nth-of-type(3) {
  position: relative;
}

#showAbout {
  position: relative;
}

.showDropDown {
  display: flex;
}

/* ======================= */
/* BUTTONS */
/* ======================= */
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: ; */
  gap: 30px;
  height: 50%;
  padding: 10px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  /* background-color: var(--darker); */
  background-color: rgb(16, 15, 15);
  color: var(--orange);
  width: 200px;
  cursor: pointer;
  box-shadow: 0 0 2px var(--orange);
  font-family: var(--font-family);
  transition: 0.3s ease-in-out;
}
button:hover {
  /* transform: scale(0.9); */
}
button:active {
  /* transform: scale(0.8); */
}

/* ======================= */
/* FORMS */
/* ======================= */

fieldset {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(45deg, black, var(--darker), black);
  border: none;
  border-radius: 10px;
  transition: 1.2s ease-in-out;
  outline: none;
  box-shadow: 0 0 5px var(--orange);
}
form {
  width: 100%;
}

#form1,
#form2 {
  border: none;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 50px;
  width: 100%;
  /* background-color: red; */
  padding: 10px;
}

.box1,
.box2,
.formBox,
.submitBox {
  /* background-color: blue; */
  width: 100%;
}

legend {
  color: var(--orange);
  font-family: var(--font-family);
  font-size: 20px;
  text-align: center;
}
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
input[type="submit"]:active {
  transform: scale(0.8);
}

input[type="reset"]:active {
  transform: scale(0.8);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="submit"],
input[type="reset"],
input[type="date"],
input[type="url"],
#select,
#schedule,
#memType,
textarea {
  display: block;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 100%;
  /* background-color: var(--light); */
  background-color: rgba(0, 0, 0, 0.226);
  box-shadow: 0 0 8px var(--light);
  margin-top: 10px;
  color: white;
}
::placeholder {
  color: lightgrey;
}
#select,
option {
  color: white;
}
#schedule,
option {
  color: white;
}

label {
  color: var(--light);
}
.wrapper {
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-image: linear-gradient(
    -25deg,
    black,
    hsl(269, 98%, 10%),
    black,
    hsl(269, 98%, 10%),
    black
  );
  position: relative;
}

.scale {
  transform: scale(1.5);
}
.slide {
  animation: slide 1.5s ease-in-out;
}
@keyframes slide {
  0% {
    /* transform: scale(0); */
    transform: translateY(-1000px);
  }
  100% {
    /* transform: scale(1); */
    transform: translateY(0);
  }
}
.formBoxRescue {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.areasOfInterest {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  box-shadow: 0 0 10px var(--light);
  margin-bottom: 10px;
  /* background-color: red; */
}
.checkBoxDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkBoxDiv3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
p {
  color: lightgrey;
  font-style: italic;
}
h4 {
  color: var(--light);
}
h3 {
  color: var(--orange);
}
.signiture {
  display: flex;
  gap: 10px;
}
#signiture {
  font-style: italic;
  font-weight: bold;
}
#signiture::placeholder {
  font-style: normal;
  font-weight: 400;
}
.areasOfInterest label {
  color: white;
}

/* ================================= */
/* FOOTER */
/* ================================= */
footer {
  /* width: calc(100% - 100px); */
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.footerContainer {
  width: calc(100% - 100px);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.footerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to top, black, transparent);
}

.footerContainer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, black, transparent);
}

.footerContact,
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
.footerContact {
  color: white;
  font-family: var(--font-family);
}
.address {
  color: white;
  font-family: var(--font-family);
}
footer ul {
  height: 50%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  z-index: 2;
}

h4 {
  font-size: 20px;
  color: var(--orange);
  font-family: var(--font-family);
}

address,
.footerContact a {
  color: var(--light);
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
}
.fa-youtube {
  color: red;
}
.fa-facebook {
  color: #4267b2;
  /* background-color: white;
  border-radius: 100%; */
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to bottom, black, transparent);
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to top, black, transparent);
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to top, black, transparent);
}

nav::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to bottom, black, transparent);
}
